body {
    width: 1280px;
    margin: 0;
}
  
.container {
    width: 100%;
    margin: 0 auto;
}

.buy {
    width: 100%;
    padding: 50px 150px 50px 50px;
    display: flex; /* выравниваем все в ряд*/
    flex-wrap: wrap; /*разрешите перенос блоков*/
    justify-content: space-between; /*позволяет расположить элементы равномерно друг от друга*/
    box-sizing: border-box; /*изменяет поведение блочной модели*/
    border: 2px solid black;
}

.ht {
    width: 100%;
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px 0;
}

.buy-item {
    width: 300px;
    padding: 16px 20px 20px 20px;
    box-sizing: border-box;
    align-self: flex-end;
    background-color: #445162;
    border-radius: 3px;
}

.buy-item .hf {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 0 16px 0;
}

.buy-price {
    width: 100%;
    display: block;
    text-align: center;
    color:#445162;
    font-size:40px;
    padding: 18px 0 18px 0;
    background-color: #FFFFFF;
}

.buy-item ol {
    width: 100%;
    display: block;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 25px;
    margin-block-start: 18px;
    padding-inline-start: 20px;
}

.buy-item a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 13px 0 13px 0;
    color:#445161;
    background-color:#FFFFFF;
    text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр)*/
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    font-weight: 600; /* Жирное начертание */
}

.buy-item a:hover {
    font-weight: normal;
}

.buy-item a:active {
    color: black;
}