body {
    width: 1280px;
    margin: 0;
}
  
.container {
    width: 90%;
    margin: 0 auto;
}

li {
    list-style: none; 
}

.ht {
    display: block;
    font-size: 30px;
}

.reviews {
    width: 100%;
    padding: 50px;
    display: flex; /*все элементы выстроились в одну строку*/
    flex-wrap: wrap; /*перенос блока на новую строку*/
    box-sizing: border-box; /*изменяет поведение блочной модели*/
    background-color: #F5F5F5;
    border: 2px solid green;
}

.reviews .ht {
    display: block; 
    width: 100%; /*заголовок над всеми остаьными блоками*/
    margin: 0 0 35px 0;
    color:#445161;
    font-size: 30px;
    text-align: center;
    border: 2px solid blue;
}

.reviews-item {
    width: 50%;
    min-height: 65px;
    padding: 16px; /*отступы внутри блока*/
    margin: 0 0 24px 0;
    box-sizing: border-box; /*в данном случае помогает убрать лишние пиксели у бордера*/
    border: 2px solid black;
    background-color: #EBEBEB;
}

div:nth-child(4),
div:nth-child(5) {
    margin: 0;
}
